.EnterNotes{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(139, 189, 151);
    padding: 1rem ;
    padding-left: 1.5rem;
    color: white;
    transition: all 0.5s ease;
}
.EnterNotes:active{
    background-color: rgb(90, 189, 159);
    color: black; 
 }
.EnterNotes  i{
    border: none;
    outline: none;
    color: black;
    font-size: 1.5rem;
}