.no_notes{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.no_notes button{
  padding: 10px 20px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: rgb(75, 161, 195);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}
.no_notes button:active{
  transform: scale(1);
}

.notepad{
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.left{
  width: 17%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.enterBtn{
  display: flex;
  width: 50%;
  gap: 1rem;
  padding-left: 2rem;
  border-radius: 20px;
  text-align: center;
  padding-top: 1rem;
}
.enterBtn button{
  padding: 2px 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgb(0, 255, 149);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.right{
  width: 83%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}